$c-accent = rgba(0,0,25,0.75)

.MessageForm
  display        : flex
  flex-direction : column

.MessageBox
  background     : white
  border         : 1px solid rgba(0,0,25,0.25)
  padding        : 13px
  border-radius  : 3px
  margin-bottom  : 13px
  transition     : all 0.15s linear
  height         : 16px
  line-height    : 16px
  letter-spacing : 0.016em
  color          : rgba(0,0,25,0.75)
  font-size      : 13px

  &.u-tall
    height : 8em

  &:focus
    border-color : $c-accent

  &.u-bad
    border-color: tomato

  @media (max-width: 480px)
    margin-left : 13px
  @media (max-width: 450px)
    margin-left : 34px

.MessageActions
  display         : flex
  align-items     : baseline
  justify-content : space-between

.MessageCharCount
  padding-right : 8px
  font-weight   : bold
  color         : rgba(0,0,25,0.5)
  line-height   : 13px + 8px + 8px + 10px

  &.u-bad
    color : tomato

.MessageSubmitButton
  font-size         : 13px
  border-width      : 2px
  border-style      : solid
  padding           : 8px 13px
  font-weight       : bold
  border-radius     : 3px
  background        : transparent
  display           : block
  line-height       : 16px
  border-color : $c-accent
  color        : $c-accent
  cursor       : pointer

  &:focus, &:hover
    background : $c-accent
    color      : white
