<!DOCTYPE html>
<html>
<head>
  <title>Federation</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
  <%= javascript_include_tag :application %>
</body>
</html>
